on:
    push:
        branches: [ "main" , "feature/**"] 
    pull_request:
        branches: ["main"]

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25"

            - name: Download Go modules
              run: go mod download
            
            - name: Build
              run: go build -v ./...

            - name: Test
              run: go test -v ./...

        
